@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
body {
    background-color: black;
    margin: 0;
    padding: 0;
    color: whitesmoke;
}
h1 {
    font-family: 'Merriweather', serif;
}
.container {
    padding: 20px;
}
.container h1 {
    margin: 0;
    padding: 0;
    width: 165px;
    margin: 0 auto;
}
.logo {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 2px solid whitesmoke;
}
nav {
    padding: 50px;
}
nav ul {
    list-style: none;
    padding: 0;
    border-left: 3px solid whitesmoke;
    border-right: 3px solid whitesmoke;
    width: 450px;
    margin: 0 auto;
    margin-top: 10px;
}
nav li {
    display: inline-block;
}
.nav-box {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
.iten-menu {
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
}
.foto-coluna {
    border-radius: 15px;
    border: 1px solid whitesmoke;
    width: 300px;
}
.coluna {
    float: left;
    width: 33.3%;
    text-align: center;
    padding-top: 30px;
}
@media (max-width: 1000px){
    body {
        background-color: white;
        color: black;
}
}